.sidebar {
  position: fixed;
  top: 0;
  right: 0;

  width: 250px;
  height: 100%;

  background-color: #132588;

  transform: translateX(calc(100% - 32px));
  transition: transform 0.3s ease;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebarTab {
  position: absolute;
  left: -32px;
  top: 60px;

  width: 32px;
  height: 60px;

  border: none;
  border-radius: 12px 0 0 12px;

  background-color: rgb(64, 32, 208);
  cursor: pointer;
}

.sidebarTab img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* .importPokemonForm textarea {
    width: 150px;
    height: 150px;
    font-size: 12px;
    resize: none;
} */

.colorPickerButton {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.colorPickerImage {
  position: relative;
  width: 80px;
  height: 80px;
}

/* Shared settings for both image layers */
.colorPickerImage::before,
.colorPickerImage::after {
  content: '';
  position: absolute;
  inset: 0;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Color-changing fill */
.colorPickerImage::before {
  background-color: var(--brush-color);

  mask-image: url('../assets/ditto_fill.png');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-image: url('../assets/ditto_fill.png');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

/* Black outline */
.colorPickerImage::after {
  background-image: url('../assets/ditto_outline.png');
}

/* Invisible color input sits over Ditto */
.colorPickerButton input {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  cursor: pointer;
}

.unknownHelpButton {
    position: absolute;
    appearance: none;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    display: inline-block;
    line-height: 0;
    cursor: pointer;
    right: 20px;
    bottom: 20px;
}

.unknownHelpButton img {
  width: 32px;
  height: 32px;
  display: block;
  object-fit: contain;
}

.sidebarSettings button {
  background-color: black;
  color: white;
}