.presetSelector {
 width: 180px;
 margin-left: auto;
 margin-right: auto;

  text-align: center;

  margin-top: 30px;

}

.presetSelector select {
  width: 100%;
  height: 32px;

  border: 2px solid white;
  border-radius: 3px;

  outline: none;
  box-shadow: none;

  cursor: pointer;
  background-color: black;
  color: white;

  text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;

 box-shadow: 0 0 4px black,
}

.presetDescription {
   width: 100%;
   min-height: 80px;

   color: white;
   text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.presetSelector option {
  background-color: black;
  color: white;
}

.presetDescription {
  white-space: pre-wrap;
  width: 100%;
}

.applyPresetButton {
  margin-top: 10px;

  padding: 6px 12px;

  background-color: black;
  color: white;

  border: 2px solid white;

  box-shadow: 0 0 4px black;

  cursor: pointer;
}