.rotomDexWrapper {
  position: fixed;
  width: 200px;
}

/*idk y but this section is needed, fix later */
.importPokemonForm button {
    background-color: transparent;
    color: white;
    border: none;
    /*following is for moving the enter relative to RotomDex */
    position: absolute;

    left:205px;
    top: 115px;
    display: block;
    /* keeps proportions */
    height: auto; 
}

/* enter image */
.importPokemonButton img {
  width: 20px;
  height: auto;
  display: block;
}

#importfield:focus {
  outline: 2px solid cyan;
}

.rotomDex {
  position: relative;
  width: 200px;
  height: 250px;
}

.rotomDex.hidden {
  display: none;
}

.rotomDex .importPokemonForm {
  position: relative;
  top: 85px;
  left: -45px;
  width: 300px;
  height: 300px;
  
}

.rotomDex textarea {
  width: 160px;
  height: 130px;

  background: transparent;
  color: white;

  border: 2px solid transparent;
  outline: none;
  box-shadow: none;
  appearance: none;

  resize: none;

  text-shadow:
    -1px -1px 0 turquoise,
     1px -1px 0 turquoise,
    -1px  1px 0 turquoise,
     1px  1px 0 turquoise;
}

.rotomDex textarea::placeholder {
  color: white;
}

.rotomDexImage {
  position: absolute;

  width: 100%;
  height: 100%;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  object-fit: contain;
}

.rotomDexToggleButton {
  position: absolute;

  top: 55px;
  left:85%;
  transform: translateX(-50%);

  width: 50px;
  height: 50px;

  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  z-index: 2;
}

.rotomDexToggleButton img {
  width: 25px;
  height: 25px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  object-fit: contain;
  display: block;
}

.rotomDexToggleButton.open img {
  width: 15px;
  height: 15px;
}

.rotomDexToggleButton.closed img {
  width: 32px;
  height: 32px;
}